@{
    ViewData["Title"] = "О servisu";
}
<h1 class="display-3">@ViewData["Title"]</h1>

<div class="container-fluid">
  <p>
    Servis za otvaranje štednog računa je internet servis koji omogućava korisnicima da se registruju, otvore svoj štedni račun, uplaćuju novac na njega
    i lako upravljaju svojim računom kao i ličnim podacima.
  </p>
</div>