@{
    ViewData["Title"] = "Početna";
}

<div class="text-center">
    <h1 class="display-3">Dobrodošli,</h1>
    <h2 class="display-3">Registrujte se i otvorite svoj štedni račun.</h2>
    <h3>Lako upravljajte svojim računima i uplatama.</h3>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PrijavaIliRegistracija"><button class="mojeDuge">Prijavi se</button></a>
</div>
