@{
    ViewData["Title"] = "Prijava ili registracija";
}

<div class="text-center">
    <p class="display-1">Prijavite se!</p>
    <p class="display-6">Ako nemate nalog, možete ga kreirati klikom na dugme 'REGUSTRUJ SE'.</p>
    <div class="d-inline-flex">
        <a class="nav-link text-dark" asp-area="" asp-controller="Nalog" asp-action="Prijava"><button>PRIJAVI SE</button></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Nalog" asp-action="Registracija"><button>REGISTRUJ SE</button></a>
    </div>
</div>